
.myfont{


  font-family: sans-serif;


  font-weight: lighter;


  font-size: 14px;


}


.mypad{


   padding: 10px;


   background-color : #aacfcf;


   margin-top: 3px;


   border-radius:  0.2rem;


}


.myTitle{


    font-size: 20px;


    font-weight: bold;


    position: relative;


    left: 20%;


}

.image
{
height: 30px;
width: 30px;
}


[flexipage-component2_component2-host] {
display: block;
column-gap: 50px;
row-gap: 50px;
}


  

